
entrypoints:
  unsecure:
    address: :80   
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    filename: /routes.yaml
    watch: true
api:  # enable dashboard
  dashboard: true
  insecure: true