services:
  chamomind:
    image: nginx
    volumes:
      - ./web1:/usr/share/nginx/html:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web1.rule=Host(`web1.com`) || Host(`www.web1.com`)"
      - "traefik.http.routers.web1.entrypoints=websecure"
      - "traefik.http.routers.web1.tls=true"
      - "traefik.http.routers.web1.tls.certresolver=letencrypt"
      - "traefik.http.services.web1.loadbalancer.server.port=80"
  frappet:
    image: nginx
    volumes:
      - ./frappet:/usr/share/nginx/html:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web2.rule=Host(`web2.com`) || Host(`www.web2.com`)"
      - "traefik.http.routers.web2.entrypoints=websecure"
      - "traefik.http.routers.web2.tls=true"
      - "traefik.http.routers.web2.tls.certresolver=letencrypt"
      - "traefik.http.services.web2.loadbalancer.server.port=80"

networks:
  default:
    name: proxy
    external: true
